@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,700;1,200&display=swap');

html, body {
    margin: 0;
    box-sizing: border-box;
    background: #f4f5fe;
    font-family: "Josefin Sans";
    color: #44525e;
}

.container {
    max-width: 1900px;
    margin: 0 auto;
}

.text-red {
    color: #ba3c3c;
}

.content-padding {
    padding: 0 100px 0 100px;
}


/*Header*/
header {
    background-color: #3c3c3c;
    min-height: auto;
}

/*Header up*/

.line-block-left {
    display: flex;
    justify-content: center;
}

.line-block-left h1{
    color: #ffff;
    margin-top: 50px;
}

.line-block-right {
    display: flex;
    justify-content: center;
}

.header-nav li {
    display: inline-flex;
    list-style: none;
    margin: 50px 15px;
}

.header-nav ul li a {
    color: #ffff;
    text-decoration: none;
}

.header-nav ul li a:hover {
    color: red;
}

/*Header content*/

.slider {
    color: #ffff;
}

.left-side-panel {
    margin-top: 10%;
}

.left-side-panel ul li {
    list-style: none;
}

.left-side-panel ul li a {
    display: flex;
    flex-flow: wrap;
    list-style: none;
    margin-top: 30px;
}

.left-side-panel h1 {
    margin-top: 430px;
}

.header-block-left {
    margin-top: 10%;
}

.header-block-left h3 {
    font-size: 30px;
}


.header-block-left h1 {
    font-size: 180px;
}


.header-block-left h4 {
    font-size: 48px;
}

.header-block-left span {
    font-size: 84px;
}

.btn-header {
    background-color: #3c3c3c;
    border: none;
    border-radius: 8px;
    color: #ffff;
    width: auto;
    height: auto;
    text-align: center;
    display: inline-block;
    font-size: 18px;
}

.btn-header:hover{
    cursor: pointer;
    background-color: red;
}

.mail {
    color: #ffff;
    margin: 145px 70px;
}

/*About*/


.about {
    background-color: #f4f5fe;
}

.about-block-text {
    margin-top: 5%;
}

.about-block-text h1 {
    font-size: 70px;
    color: black;
    margin-top: 30px;
}

.about-block-text h3 {
    font-size: 30px;
    margin-top: 30px;
}

.about-block-text h2 {
    font-size: 30px;
    color: black;
    margin-top: 30px;
}

.btn-about {
    background-color: red;
    border: none;
    border-radius: 8px;
    color: #ffff;
    width: auto;
    height: auto;
    text-align: center;
    display: inline-block;
    font-size: 18px;
}

.btn-about:hover {
    cursor: pointer;
    background-color:green;
}

.image-about-photo {
    position: absolute;
    margin-top: 15%;
    margin-left: -15%;
}

/*Skills*/


.skills {
    background-color: #ba3c3c;
    color: #ffff;
    margin-top: 100px;
}

.skills h1 {
    font-size: 60px;
}

.skills h3 {
    margin-top: 5%;
    font-size: 20px;
}

.my-skills-text {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

.my-skills-range {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 10%;
}


/* inputs style */

.range-skills {
    width: 560px;
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 450px;
    height: 5px;
    
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: rgb(218, 32, 32);
    margin-top: -4px;
}


input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}


.skills-output {
    margin-top: 5%;
}

.works-img-square{
    position: relative;
    margin-bottom: -10%;
}


/*Check my works*/
.works-text {
    margin-top: 10%;
}

.nav-works ul li {
    display: inline-flex;
    list-style: none;
    margin: 50px 15px;
}

.nav-works ul li a {
    text-decoration: none;
    text-align: center;
    color: #ffff;
}

.work-img {
    padding: 25px 70px;
}

.works-blocks {
    position: relative;
    margin-top: -15%;
}


/*Service*/

.service {
    background-image: url('../images/services/background\ services.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bg {
    background-color: #ffff;
}

.cart-service {
    min-height: 300px;
    margin: 20px 10px 20px 10px;
    padding-top: 5%;
}

.carts-service-block {
    display: flex;
    justify-content: center;
    padding: 0 50px 0 50px;
}
.cart-service-btn {
    min-width: 200px;
    min-height: 50px;
    color: black;
    background-color: #f4f5fe;
    border: 1px solid red;
    border-radius: 5px;
    margin-top: 30px;
    padding-top: 2%;
}

.cart-service-btn:hover {
    cursor: pointer;
    background-color: #ba3c3c;
    color: #ffff;
}


/*Testimonial*/

.testimonial {
    background-color: #ba3c3c;
    margin-top: 15%;
}

.testimonial-photo {
    margin-top: -300px;
}

.testimonial-text {
    color: #ffff;
    padding-top: 10%;
}

.box-style {
    position: absolute;
    margin-top: 20%;
    max-width: 10%;
    max-height: 30%;
}
.quotes {
    margin-top: -35%;
}
.testimonial-btn {
    width: 100px;
    height: 50px;
    background-color: #ba3c3c;
    color: #ffff;
    border: none;
}

.testimonial-btn:hover {
    cursor: pointer;
    color: #ba3c3c;
    background-color: #ffff;
}

/*My Blog*/

.blog-title {
    margin-top: 10%;
}

.blog-cart {
    margin: 5% 0 5% 0;
}

.cart-btn{
    min-width: 160px;
    min-height: 50px;
    color: black;
    background-color: #f4f5fe;
    border: 1px solid red;
    border-radius: 5px;
    margin-top: 30px;
}

.cart-btn:hover {
    cursor: pointer;
    background-color: #ba3c3c;
    color: #ffff;
}

/*Facts*/

.facts {
    background-color: #ba3c3c;
    color: #ffff;
}

.facts-border-img {
    position: absolute;
    margin: -10% 0 0 75%;
}

.products{
    margin-top: 3%;
}

/*Contact*/

.contact-title {
    margin: 10% 0 10% 0;
}

.contact-blok-phone img {
    max-width: 100px;
    max-height: 100px;
}

.contact-blok-mail img {
    max-width: 100px;
    max-height: 100px;
}

input[type=text],input[type=number], select {
    width: 100%;
    height: 56px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #ffff;
    }
      
    input[type=submit] {
    width: 20%;
    background-color: #ba3c3c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }
      
    input[type=submit]:hover {
    background-color: #45a049;
    }

    .contact-form-btn {
        margin-bottom: 5%;
    }


/*Footer*/

.saite-footer {
    background-color: #3c3c3c;
    color: #ffff;
}

.footer-border {
    position: absolute;
    margin-top: -70px;
}


.footer-bottom-left {
    margin-top: 30%;
    color: #6e6b6b;
}

.footer-bottom-right {
    margin-top: 30%;
    color: #6e6b6b;
}

.footer-logo {
    margin: 10% 0 0 5%;
}

.footer-nav-up {
    margin: 10% 0 0 5%;
}

.footer-nav-up li {
    text-decoration: none;
    list-style: none;
    
}

.footer-nav-up li a {
    list-style: none;
    color: #ffff;
    text-decoration: none;
    margin-left: 3%;
}
